{% extends 'PointWebAppBundle::base.html.twig' %}
{% block slider %}

{% endblock %}
{% block content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ category.title }}
            </h1>

            {#{ knp_menu_render('breadcrumb', {'currentClass': 'active'}) }#}
            <ol class="breadcrumb">
                <li><a href="{{ path('point_web_app_homepage')}}">Accueil</a></li>
                <li><a href="{{ path('all_products')}}">Nos voyages</a></li>
                <li class="active">{{ category.title }}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        {% for entity in entities %}
        <div class="col-md-4">
            <div class="img-portfolio-col3">
                <a href="{{ path('product_detail', {'id':entity.id}) }}">
                    {% if entity.pictures|length >0 %}
                        <img class="img-responsive img-hover" src="{{ asset(entity.pictures[0].getWebPath(base)) }}" alt="{{ entity.pictures[0].name }}">
                    {% else %}
                        <img class="img-responsive img-hover" src="{{ asset('images/sans_image_700x450.jpg') }}" alt="http://placehold.it/700x450">
                    {% endif %}
                </a>
            </div>
            <h4>
                <a href="{{ path('product_detail', {'id':entity.id}) }}">{{ entity.title }}</a>
            </h4>
            <p>{{ entity.resum | truncate(200, false, '...') | raw }}</p>
        </div>

        {% endfor %}
    </div>
    {% include 'PointWebAppBundle::_pager.html.twig' %}
    <!-- /.row -->

{% endblock %}
