{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {% for child in form %}
                <div {{ block('widget_container_attributes') }}>
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if placeholder is not none %}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}"><input
                    type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <label for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}
        </label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block file_widget %}
    {% spaceless %}
        <div class="input-group" style="margin: 5px 0">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip;
                        <input type="file" {{ block('widget_attributes') }}>
                    </span>
                </span>
            <input type="text" class="form-control" readonly>
        </div>
    {% endspaceless %}
{% endblock file_widget  %}




