{% extends 'PointWebAdminBundle::base.html.twig' %}

{% block content_right %}
    <h1>Ajout d'une question</h1>
    {{ form_start(form, {'attr': {'class':'form-horizontal' }}) }}
    <fieldset>

        <div class="form-group">
            {{ form_label(form.title) }}
            <div class="col-lg-10">
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.answer) }}
            <div class="col-lg-10">
                {{ form_errors(form.answer) }}
                {{ form_widget(form.answer) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.online) }}
            <div class="col-lg-10">
                {{ form_errors(form.online) }}
                {{ form_widget(form.online) }}
            </div>
        </div>

    </fieldset>


    <div class="row submitBt">
        <div style="float: left">
            <a href="{{ path('admin_faq') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à la liste</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

